GitPython>=3.1.44
Pillow>=11.1.0
black>=24.10.0
commentjson>=0.9.0
dataclasses_json
debugpy>=1.8.11
dill>=0.3.9
flake8>=7.1.1
frozendict>=2.4.6
graphviz>=0.20.3
lxml>=5.3.0
manifold3d>=3.0.1
matplotlib>=3.10.0
mypy>=1.14.1
numpy-stl>=3.2.0
numpy>=2.2.1
packaging>=24.2
pytest-cov>=6.0.0
pytest>=8.3.4
sortedcollections>=2.1.0
sortedcontainers>=2.4.0
svgelements>=1.9.6
svgpathtools>=1.6.1
tomli-w>=1.1.0
tomli>=2.2.1
